# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Steering.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\HomeLocalUser\RiderProjects\Steering\.idea\.idea.Steering\.idea/dataSources/
/dataSources.local.xml
